
# Standard ignores
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Important to analysis but large
data/eezs/eezs_v10_polygons.Rds

# Large climate data not used in analysis
data/climate/data

# Intermediate step in analysis but large
output/raw

# Not used in analysis and large
data/prices/melnychuk
data/constraints/cum_impacts

# Temporarily ignore
code/Step4_build_finfish_scenario_results.R
